.icon {
  display: flex;
  align-items: center;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label {
  position: relative;
  width: 3.5rem;
  margin-bottom: 1rem;
}

.slider {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 1.5rem;
  border-radius: 10rem;
  background-color: #abb9d4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.input:checked + .slider::before {
  right: 0;
  background-color: #000000d2;
}
